---
title: Le Wagon - Middleman
---

<div id="home" class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
  <h1>Welcome ma gueule</h1>
</div>

<div class="container">
  <div class="row">
    <% data.cities.each do |city| %>
      <div class="col-sx-12 col-sm-12 col-md-4 card">

      </div>
    <% end %>
  </div>
</div>
